huepy==0.9.8.1
tldextract==2.2.0
mutagen==1.41.1
pefile==2017.11.5
mp3_tagger==1.0
ipwhois==0.10.3
requests==2.20.0
Pillow==5.3.0
PyPDF2==1.26.0
beautifulsoup4==4.6.3
dnspython==1.15.0
python-nmap==0.6.1
google==2.0.1
shodan==1.10.4
paramiko>=2.4.2
